<div class="jumbotron">
    <h1 class="display-4">Hello {{welcome}}</h1>
    <p class="lead">This is a simple page application to check for weather updates around the world</p>
    <hr class="my-4">
    <p>Type the city you are looking for and check if it's hot, cold or cloudy</p>
    <div>
      <form [formGroup]="formInput" (ngSubmit)="search()">
      <input type="text" formControlName="cityName" required>
    </form>
    </div><br>
    <a class="btn btn-primary btn-lg" href="#" role="button" (click)="showWeather()">How's weather</a>
    <div *ngIf="weather">
      <p>{{weather.temp}}</p>
      <p>{{weather.description}}</p>
    </div>
  </div>

