<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Check updates</h5>
          <p class="card-text">See if you'll need umbrella or sunblocker, depending on weather.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Take your considerations</h5>
          <p class="card-text">Consider the climate change on the city you are visiting</p>
        </div>
      </div>
    </div>
  </div>
